.move
{
padding:5px;
border:solid 1px orange;
margin:auto 200px;
margin-top:50px;
font-size:30px;
font-family:arial;
color:red;
border-radius:20px;
background-color:pink;
text-align:left;
}
